@import "compass/css3";
@import 

/



// Mixins

@mixin lato-book { font-family: 'Lato', sans-serif; font-weight: 300; }
@mixin lato-reg { font-family: 'Lato', sans-serif; font-weight: 400; }
@mixin lato-bold { font-family: 'Lato', sans-serif; font-weight: 700; }
@mixin btn($color) {
  background-color: $color;
  border-bottom-color: darken($color, 15%);
  &:hover {
      background-color: lighten($color, 5%);
    }
}

// Functions

@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}

//

/*
 * Header
 */
 .inner {
  vertical-align: middle;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px

}

.masthead-nav > li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 10px;
}
.masthead-nav > li + li {
  margin-left: 80px;
   
}
.masthead-nav > li > a {
  padding-right: 500;
  padding-left: 500;
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #fff; 
  }

@media (min-width: 768px) {

  .masthead {
    position: relative;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }


@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}


  /* IE8 proofing */


  
  
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
  
  }
}


body {
  background-color: lighten(#ccc, 10%);
  font-size: 100%;
  @include lato-reg;
  background-color: #333;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}
div, textarea, input {
  box-sizing(border-box); 
}  
.container {  
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid lighten(#ccc, 1%); 
  border-bottom: 3px solid #ccc;
}

.us {
    position: absolute;
    margin-left: 90px;
    margin-right: 500px;
    top: 125px;
    font-family:'Philosopher', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 35%;
    background-color: #fff;
    color: #4f6fad;
    bottom: 125px;
}

.row {
      width: 30%;
    position: static;
    margin-left: 55%;
    margin-right: 400px;
    top: 60px;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Open Sans', sans-serif;
    bottom: 20%;
}

.row.header {
    padding: 4em 2em  0.5em; 
    color:#fff;
    
  }

.row.body {
    padding: .5em 2.5em 1em;
    color: #fff
  }
}
.pull-right {
  float: right; 
}
.row.h1 {
  display: inline-block;
  font-weight: 100;
  font-size: pxtoem(45, 16);
  border-bottom: 1px solid hsla(100%, 100%, 100%, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
  color: #fff;
  font-weight: bold;
  border: 3px solid #4f6fad;

}
h3 {
  @include lato-reg;
  font-size: pxtoem(20, 16);
  margin: 1em 0 0.4em 0;
  color:#fff;
  font-weight: normal;
}
.btn {
  font-size: pxtoem(17, 16);
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  background-color:#4f6fad; 
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  @include btn(darken($grey, 10%));
  @include lato-book;
  &.btn-submit {
    @include btn($blue);
  }
}

form {
  max-width: 100%;
  display: block;}
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    li {
      margin: 0 0 0.25em 0; 
      clear: both;
      display: inline-block;
      width: 100%;
      &:last-child {
          margin: 0;    
        }
        p {
          margin: 0;
          padding: 0;
          float: left;
          &.right {
            float: right;
          }
        }     
        .divider {
          margin: 0.5em 0 0.5em 0;
          border: 0;
          height: 1px;
          width: 100%;
          display: block;
          background-color: #4f6fad;
          background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
        }
        .req {
          color: #ee9cb4; 
        }
    }
  }
  label {
    display: block;
    margin: 0 0 0.5em 0;
    color: #4f6fad;
    font-size: pxtoem(16, 16);
  }
  input {
    margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: pxtoem(16, 16);
  }
  textarea {
    border: 1px solid #ccc;
    padding: 6px 10px;
    width: 100%;
    color: #555;
  }
  small {
    color: #fff;
    margin: 0 0 0 0.5em;
  }
}

// Media Queries

@media only screen and (max-width:480px) {
  .pull-right {
    float: none; 
  }
  input {
    width: 100%; 
  }
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }
  li, p {
   width: 100%; 
  }
  input.btn {
   margin: 1.5em 0 0.5em; 
  }
  h1 {
   font-size: pxtoem(36, 16); 
  }
  h3 {
    font-size: pxtoem(18, 16)
  }
  li small {
   display: none; 
  }
}