body {
  background-color: grey;
  max-width: 200%;
  max-height: 200%;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
  padding-top: 400px;
  color: #fff;
  text-decoration: bold;
  font-family: verdana;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
  margin-left : +70px;
}
.masthead-nav> li + li {
  margin-left: 100px;

}
.masthead-nav> li > a {
  padding-right: 500;
  padding-left: 500;
  font-size: 20px;
  font-family: verdana;
  font-weight: bold;
  color: #fff; /* IE8 proofing */


}
.masthead-nav,
.choices > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus;
.choices > .active > a {
  color: #fff;
  border-bottom-color: #fff;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    width: 200px;
    font-size: 16px;
    font-family: verdana;
    border: solid;
    border-color: white;
    cursor: pointer;
}
.simple-button {
  background-color: transparent;
  color: white;
  padding: 16px;
  width: 200px;
  font-size: 16px;
  font-family: verdana;
  border: solid;
  border-color: white;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: grey;
}

/* The container <div> - needed to position the dropdown content */
#btn-1 {
  left: 10%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-2 {
  left: 42%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-3 {
  right: 10%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-a {
  left: 0%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-b {
  left: 20%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-c {
  left: 40%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-d {
  left: 60%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-e {
  left: 80%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  display: inline-block;
}

#btn-ac {
  position: absolute;
  float: center;
  bottom: 20%;
  left: 42%;
  color: white;
  display: inline-block;
  cursor: pointer;
}

#btn-ac:hover {
  background-color: grey;
  color: white;
}

#btn-ac a {
  text-decoration: none;
  color: white;
}

#btn-ac a :hover {
  color: grey;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



@media (min-width: 768px) {
  .masthead-brand {
    float: left;

  }

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .head {
    position: relative;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
}
/end
